modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
publicDir = "dist/public"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[[ports]]
localPort = 23637
externalPort = 3000

[[ports]]
localPort = 23638
externalPort = 3002

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:1.0.0", "javascript_database:1.0.0", "javascript_object_storage:1.0.0", "javascript_log_in_with_replit:1.0.0"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BBIUile6GzxxRXPMSW4gpP7WWXtTXBjT0B-TFqRI1xXYFK6IttjJ8jt-7T5J_589ILlpWYVVzNts1lU7kLo8u5s"
VAPID_PRIVATE_KEY = "KFYIYAHhXSZgPyBWkGwOvVz5uL6YtBqTncRy1mnzZc8"

[objectStorage]
defaultBucketID = "replit-objstore-8d46a745-6e30-4f2e-b482-808e3d81d7a2"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
